@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

table {
    width:100%;
	  display: table;
    border: none;
}

td.legend, td.value {
  font-size: 1em; /* Adjust font size of table cells for smaller screens */
}

.digitalwatch {
  /*font-size: 1em;
  font-family: 'Orbitron', sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  width: 100%;*/
}
.addresse {
  font-size: 1em;
  font-family: 'Orbitron', sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  color: #FFFFFF;
  word-wrap: break-word; /* Allow long words to wrap */
  white-space: pre-wrap; /* Preserve formatting and allow wrapping */
  max-width: 100%; /* Ensure it doesn't overflow container */
  line-height: 1.5; /* Increase line height for better readability */
}

.progressbarcontainer {
  position: relative;
  background-color: #25c2a0;  
  width: 100%;
  height: 50px; /* Adjust height of the progress bar */
  border-radius: 3px;
}

.progressbar {
  width: 100%;
  height: 50px;
  background-color: #25c2a0;
  border-radius: 3px;
}

.progressbar::-webkit-progress-bar {
  background-color: #25c2a0; /* Couleur de fond de la barre pour les navigateurs basés sur WebKit (comme Chrome, Safari) */
  border-radius: 3px;
}

.progressbar::-webkit-progress-value {
  background-color: #25c2a0; /* Couleur de remplissage de la barre pour les navigateurs basés sur WebKit */
  border-radius: 3px;
}

.progressbar::-moz-progress-bar {
  background-color: #25c2a0; /* Couleur de remplissage de la barre pour Firefox */
  border-radius: 3px;
}